@import "tailwindcss";
@import "@fontsource/signika/400.css";
@import "@fontsource/signika/500.css";
@import "@fontsource/signika/600.css";
@import "@fontsource/signika/700.css";

* {
  font-family: "Signika", sans-serif;
}

:root {
  --color-primary: #ff7a00;
  --color-primary-hover: #e56a00;
  --color-bg-light: #fff3e0;
  --color-text: #1a1a1a;
  --color-text-secondary: #6b7280;
  --color-bg-dark: #1e1e1e;
}

body {
  background-color: #fff;
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
